@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --cor-primaria: #152e65;  
  --cor-primaria-hover: #004280;
  --cor-secundaria: rgb(3, 72, 185);
  
  --cor-fundo: #f4f6f8;         
  --cor-superficie: #ffffff;     
  
  --cor-texto-principal: #ffffff; 
  --cor-texto-secundario: #718096; 
  --cor-borda: #e2e8f0;     

  --fonte-padrao: 'Inter', system-ui, sans-serif;

  --borda-raio-sm: 4px;
  --borda-raio-md: 8px;
  --sombra-card: 0 4px 6px rgba(0, 0, 0, 0.05);
  --sombra-hover: 0 10px 15px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-padrao);
  background-color: var(--cor-fundo);
  color: var(--cor-texto-escuro);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; 
}

a {
  color: var(--cor-primaria);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--cor-primaria-hover);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--cor-texto-principal);
  font-weight: 600;
  margin-bottom: 1rem;
}

button {
  font-family: var(--fonte-padrao);
  cursor: pointer;
  border: none;
}